.table {
    border-collapse: collapse;
    &__head-item {
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }
    &__item {
        font-size: 11px;
        line-height: 25px;
        &_highlight {
            color: $green;
            &._index {
                color: white;
            }
        }
    }
    &__item,
    &__head-item {
        padding: 5px 4px;
    }
}

.top-stats {
    flex: 1;
}
