.table {
    border-collapse: collapse;
    &__head-item {
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }
    &__item {
        font-size: 11px;
        line-height: 25px;
        &_highlight {
            // padding-right: 25px !important;
        }
    }
    &__item,
    &__head-item {
        padding: 5px 7px;
    }
}

$loser_places: 2;

.tournament {
    &__heading {
        margin-bottom: 15px;
    }
    &__table {
        counter-reset: place;
    }
    &__table-head-item {
        text-align: left;
    }
    &__table-row {
        counter-increment: place;
        &::before {
            content: counter(place);
            display: table-cell;
            vertical-align: middle;
            padding: 5px 7px;
            font-size: 11px;
        }
        &:nth-last-child(#{$loser_places}) {
            border-top-width: 2px;
            border-top-style: solid;
            border-top-color: $dark-green;
        }
    }
    &_index {
        $tournament_index_color: white;
        width: 380px;
        padding: 40px 0 45px 20px;
        color: $tournament_index_color;
        background-color: $dark-red;
        .tournament__table-row {
            &:nth-last-child(#{$loser_places}) {
                border-top-color: $tournament_index_color;
            }
        }
    }
}

.top-stats {
    flex: 1;
}
