html {
    font-size: $base_font_size;
    font-family: $base_font_family;
    font-weight: $base_font_weight;
    color: $text-gray;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: $content-width;
}

.content {
    flex: 1;
    min-width: $content-width;;
    width: $content-width;
    margin: 0 auto;
    &_wider {
        min-width: 1312px;
        width: 1312px;
    }
}

.page-container {
    flex: 1;
}

.main {
    flex: 1;
    &__heading {
        margin-bottom: 34px;
    }
}

.container-flex {
    display: flex;
    &_col {
        flex-direction: column;
    }
    &_grid {
        margin-left: -$grid-gutter;
        margin-top: -$grid-gutter;
        flex-wrap: wrap;
    }
    &_sb {
        justify-content: space-between;
    }
    &__grid-item {
        padding-left: $grid-gutter;
        padding-top: $grid-gutter;
    }
}

.page-heading {
    padding: 31px 0 32px;
}

.heading {
    font-weight: 200;
    font-size: 30px;
}

.section-heading {
    margin: 34px 0 22px;
}

.article {
    margin-bottom: $grid-gutter;
    &_text {
        padding-bottom: 15px;
        border-bottom: 2px dashed $dark-gray;
    }
}

$link-hover-color: $green;

.link {
    &:hover {
        color: $link-hover-color;
    }
}

.link-container {
    display: block;
}

.lead-image {
    width: $lead-image-width;
    height: 450px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    &__img {
        height: 100%;
        width: auto;
    }
}

.index {
    &__news {
        flex: 1;
    }
}

.button {
    display: inline-block;
    padding: 13px 18px 14px;
    background-color: $green;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    line-height: 1;
    b {
        font-size: 20px;
    }
    &:hover {
        cursor: pointer;
        background-color: $dark-green;
    }
}

.news {
    padding-bottom: 180px;
}

.gallery {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -$grid-gutter;
    &__item {
        padding-left: $grid-gutter;
        margin-bottom: 52px;
    }
    &__button {
        display: block;
        margin: 0 auto;
        text-transform: none;
        margin-bottom: 300px;
    }
    &__container {
        width: $info-card-width;
        &:hover {
            h2,
            h3,
            h4,
            h5,
            h6 {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .main-bg {
        background-image: url('../img/main-bg-left.png'), url('../img/main-bg-right.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 90%, 100% 10%;
        background-size: 120px auto, 120px auto;
    }
}
