html {
    font-size: $base_font_size;
    font-family: $base_font_family;
    font-weight: $base_font_weight;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: $content-width;
}

.content {
    flex: 1;
    min-width: $content-width;;
    width: $content-width;
    margin: 0 auto;
}

.page-container {
    flex: 1;
}

.main {
    flex: 1;
    &__heading {
        margin-bottom: 34px;
    }
}

.container-flex {
    display: flex;
    &_col {
        flex-direction: column;
    }
    &_grid {
        margin-left: -$grid-gutter;
        margin-top: -$grid-gutter;
        flex-wrap: wrap;
    }
    &_sb {
        justify-content: space-between;
    }
    &__grid-item {
        padding-left: $grid-gutter;
        padding-top: $grid-gutter;
    }
}

.page-heading {
    padding: 31px 0 32px;
}

.heading {
    font-weight: 200;
    font-size: 30px;
}

.article {
    margin-bottom: $grid-gutter;
    &_text {
        padding-bottom: 15px;
        border-bottom: 1px dashed $dark-gray;
    }
}

$link-hover-color: $green;

.link {
    &:hover {
        color: $link-hover-color;
    }
}

.lead-image {
    width: $lead-image-width;
    height: 450px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    &__img {
        height: 100%;
        width: auto;
    }
}
