html {
    font-size: $base_font_size;
    font-family: $base_font_family;
    font-weight: $base_font_weight;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: $content_width;
}

.content {
    flex: 1;
    min-width: $content_width;;
    width: $content_width;
    margin: 0 auto;
}

.page-container {
    flex: 1;
}

.main {
    flex: 1;
}

.container-flex {
    display: flex;
    &_col {
        flex-direction: column;
    }
    &_sb {
        justify-content: space-between;
    }
}

.heading {
    font-weight: 200;
    font-size: 30px;
}

.page-heading {
    padding: 31px 0 32px;
}

$link-hover-color: $green;

.link {
    &:hover {
        color: $link-hover-color;
    }
}
