$footer-main-bg-color: $dark-green;
$footer-main-text-color: $off-white;
$footer-item-heading-text-color: $green;

.footer {
    &__logo-container {
        align-items: center;
        position: relative;
        &::after {
            display: block;
            position: absolute;
            top: -45px;
            right: -20px;
            content: '';
            height: 350px;
            width: 512px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('/img/footer-logo-bg.png');
            z-index: 1;
        }
    }
    &__logo {
        position: relative;
        top: 15px;
        z-index: 2;
        height: 140px;
    }
    &__logo-link {
        height: 100%;
    }
    &__partners-heading {
        color: white;
        padding-top: 15px;
        padding-bottom: 16px;
    }
    &__partners-list {
        padding: 54px 0 90px;
        justify-content: space-around;
        align-items: center;
    }
    &__partners-link {
        display: block;
        &:hover {
            filter: saturate(200%);
        }
    }
    &__main {
        height: 350px;
        padding-top: 45px;
        background-color: $footer-main-bg-color;
        .content {
            justify-content: space-between;
            color: $footer-main-text-color;
            font-size: 14px;
        }
    }
    &__item-heading {
        color: $footer-item-heading-text-color;
        margin-bottom: 16px;
    }
    &__section {
        width: 25%;
    }
    &__contacts-list-item {
        padding-left: 30px;
        margin-bottom: 25px;
        &_type {
            &_tel {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.stripe {
    padding: 15px 0;
}

.orgs {
    &__item {
        margin-bottom: 15px;
    }
    &__link {
        &:hover {
            filter: brightness(90%);
        }
    }
}

.minor-heading {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 25px;
}

.sitemap {
    &__list {
        flex-wrap: wrap;
    }
    &__list-item {
        width: 50%;
        margin-bottom: 25px;
        &::before {
            position: relative;
            top: 5px;
            content: '\00B7';
            display: inline-block;
            padding-right: 5px;
            font-size: 40px;
            line-height: 1rem;
            color: $green;
        }
    }
}
