.social-networks {
    &__links-list {
        justify-content: space-around;
        padding: 17px 0 18px;
    }
    &__list-item {
        height: 35px;
        width: 35px;
    }
    &_aside,
    &_index {
        width: $info-card-width;
        .social-links__link_to {
            &_instagram {
                background-image: url('/img/icons/instagram_gray.png');
            }
            &_facebook {
                background-image: url('/img/icons/fb_gray.png');
            }
            &_vk {
                background-image: url('/img/icons/vk_gray.png');
            }
        }
    }
}

$instagram_icon: '/img/icons/instagram.png';
$fb_icon: '/img/icons/fb.png';
$vk_icon: '/img/icons/vk.png';

.social-links {
    &__link {
        display: block;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &_to {
            &_instagram {
                background-image: url($instagram_icon);
                &:hover {
                    background-image: url('/img/icons/instagram_green.png');
                }
            }
            &_facebook {
                background-image: url($fb_icon);
                &:hover {
                    background-image: url('/img/icons/fb_green.png');
                }
            }
            &_vk {
                background-image: url($vk_icon);
                &:hover {
                    background-image: url('/img/icons/vk_green.png');
                }
            }
        }
    }
}

.instagram {
    $inst_gutter: 14px;
    $inst_item_size: 160px;
    align-items: center;
    &__link {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 23px;
    }
    &__gallery {
        flex-wrap: wrap;
        margin-top: -$inst_gutter;
    }
    &__list-item {
        padding-left: $inst_gutter;
        padding-top: $inst_gutter;
    }
    &__item {
        display: block;
        width: $inst_item_size;
        height: $inst_item_size;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $dark-green;
        position: relative;
        &::after {
            display: block;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }
        &:hover {
            &::after {
                background-color: transparent;
            }
        }
    }
}
