.stats-item {
    &__heading {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 18px;
        line-height: 25px;
    }
    &__leader {
        padding-bottom: 12px;
        border-bottom: 2px solid $dark-green;
    }
}

.stats-table {
    width: $info-card-width;
    &__item {
        text-align: center;
        &_name {
            text-align: left;
        }
    }
}

.player-info {
    color: $text-gray;
    position: relative;
    &__photo {
        height: 120px;
        width: 100px;
        border: 1px solid  $dark-gray;
    }
    &__info {
        padding: 7px 22px;
    }
    &__name {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $green;
    }
    &__first-name,
    &__last-name {
        display: block;
    }
    &__number {
        font-size: 15px;
    }
    &__number-value {
        font-size: 20px;
    }
    &__stats {
        font-weight: 600;
        font-size: 20px;
    }
    &__stats-item {
        margin-right: 15px;
    }
    &__team {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 14px 16px;
    }
}

.team-badge {
    align-items: center;
    &__img {
        width: 100%;
        min-width: 80px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 10px;
    }
    &__name,
    &__from {
        text-align: center;
        font-size: 9px;
    }
}
