$header-text-color: $off-white;
$header-bg-color: $green;
.header {
    padding: 6px 0 18px;
    color: $header-text-color;
    background-color: $dark-green;
    &__reach {
        justify-content: space-between;
        margin-bottom: 14px;
    }
    &__contacts-list-item {
        font-size: 11px;
        line-height: 25px;
        margin-right: 19px;
        padding-left: 25px;
    }
    &__social-list-item {
        height: 20px;
        width: 20px;
        margin-left: 20px;
        background-color: white;
    }
    &__main {
        justify-content: space-between;
        height: 140px;
    }
    &__logo {
        height: 100%;
    }
    &__logo-link {
        height: 100%;
    }
    &__heading {
        align-self: flex-end;
    }
    &__nav {
        align-self: flex-end;
    }
}

$main-heading-color: white;

.main-heading {
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
    color: $main-heading-color;
}

$pin-icon: '/img/icons/pin.png';
$phone-icon: '/img/icons/phone.png';
$mail-icon: '/img/icons/mail.png';

.contacts {
    &__list-item {
        background-position: left center;
        background-repeat: no-repeat;
        &_type {
            &_post {
                background-image: url($pin-icon);
                background-size: 12px auto;
            }
            &_tel {
                background-image: url($phone-icon);
                background-size: 15px auto;
            }
            &_email {
                background-image: url($mail-icon);
                background-size: 15pa auto;
            }
        }
    }
}

.nav {
    &__list-item {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        margin-left: 60px;
    }
}

.logo {
    &__img {
        height: 100%;
    }
    &__link {
        display: block;
    }
}
